html
  head
    title New Login Notification
  body(style='font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #333;')
    h1(style='margin-top: 0;') New Login Notification
    p(style='margin-top: 20px;') Hi #{name},
    p A new login has occurred on your account at #{time} from the following device:
    p(style='margin-top: 10px;') Device Name: #{deviceName}
    p IP Address: #{ipAddress}
    p(style='margin-top: 10px;') If you did not authorize this login, please contact us immediately to secure your account.
